.box {
    border-radius: 0.375rem !important;
    background-color: #FFFFFF !important;
    border: none !important;
    border-top: 4px solid #0D6EFD !important;
    max-height: 75vh !important;


    form {
        display: flex;
        align-items: center;
        justify-content: baseline;
        height: fit-content;
        max-height: 4rem;


        div {

            label {
                margin-bottom: 1rem;
            }

        }

        .lineButton {
            display: flex;
            justify-content: center;
            align-items: end;
            height: 100%;
            padding: 2.3rem 0 0 0;
        }
        
        div{
            gap: 5%;

            .button-limpar{
                background-color: #FFFFFF;
                color: #0D6EFD;
                border: 1px solid #0D6EFD;
                transition: 0.5s;
            }

            .button-limpar:hover{
                background-color: #6fa7fc;
                color: #FFFFFF;
                transition: 0.5s;
            }
        }
    }
}

thead {
    background-color: white;
    color: #0D6EFD;
    border: none;
}

.add {
    position: fixed;
    z-index: 10;
    bottom: 2rem;
    right: 5%;
    background-color: #0D6EFD;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    height: fit-content;
    padding: 0rem 1vw 0.2rem 1vw;
    border: 1px solid #0D6EFD;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.add:hover {
    background-color: #FFFFFF;
    color: #0D6EFD;
    border: 1px solid #0D6EFD;
    transition: 0.5s;
}