.table {
    overflow: hidden !important;

    thead {
        border-bottom: 1px solid #0D6EFD !important;

        .title {
            color: #0D6EFD !important;
        }
    }
    
    tbody {
        tr {
            td {
               vertical-align: baseline;
            }
        }
    }

    .divPagination {
        display: flex;
        justify-content: end;
    }

    .buttonActions {
        border-radius: 5px !important;
    }
    
}
